NEXT_PUBLIC_SUPABASE_URL=https://huyvxarxyhggmtbwjazw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_M0iXi1mNlEU-hQ1GJgYKpg_w4lDN32Z
NEXT_PUBLIC_TRIP_TOKEN=COLOQUE_O_TOKEN_PRIVADO_DESTA_VIAGEM
